fastapi>=0.95.0
uvicorn>=0.22.0
deep-lynx>=0.1.8
python-dotenv>=1.0.0
bcrypt>=4.0.1
passlib>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.5
aiosqlite>=0.18.0
tortoise-orm>=0.20.0
pytest>=7.4.3
httpx>=0.24.1
requests>=2.31.0
pydantic>=2.7.0
fpdf2==2.7.6